<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
href="../static/Style.css"
th:href="@{/Style.css}">
<title>PlantPlaces.com</title>
</head>
<div class="header">
<h1>Welcome to PlantPlaces!</h1>
</div>


<div style="text-align:center;">
<button class="button2" type="button" onclick="alert('Hello and welcome to Plant Places')"> PlantPlaces </button>
</div>
           
                                     


<body>
Welcome to PlantPlaces!
<br/>
<p th:text="${specimenDTO}"/>



</body>
</html>